:root {
  --white: white;
  --black: black;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.l-subtitle {
  color: #222829;
  max-width: 31rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2;
}

.label {
  z-index: 20;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.m-logo {
  height: 2rem;
}

.grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.grid._4x-gutter {
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
}

.grid._4x-gutter.bordered {
  border: 1px #000;
}

.grid.no-gap {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.primary-button {
  grid-column-gap: .75rem;
  color: #fff;
  text-align: center;
  background-color: #793cfb;
  justify-content: center;
  align-items: center;
  padding: .75rem 1.25rem;
  font-weight: 600;
  transition: background-color .3s;
  display: flex;
  position: relative;
}

.primary-button:hover {
  color: #fff;
  background-color: #6923ff;
}

.l-paragraph {
  color: #bebebe;
  max-width: 31rem;
  font-family: Barlow, sans-serif;
  font-size: 32px;
  line-height: 48px;
}

.l-paragraph.l-margin {
  font-size: 32px;
  line-height: 48px;
}

.text-container {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.text-container.center {
  text-align: center;
  align-items: center;
}

.xs-icon {
  z-index: 5;
  width: 1rem;
  height: 1rem;
  position: relative;
}

.xs-icon.right-margin {
  margin-right: .5rem;
}

.xs-icon.xs-top-margin {
  margin-top: .175rem;
}

.align-left-justify-center-hor {
  grid-column-gap: 1rem;
  grid-row-gap: 0px;
  align-items: center;
  display: flex;
}

.section {
  padding: 5rem 3rem;
}

.section.bordered {
  border: 1px solid #000;
}

.section.outlined-section {
  border-top: 1px #373737;
  border-bottom: 1px solid #373737;
  border-left: 1px #000;
  border-right: 0 #000;
  padding: 0;
}

.section.outlined-section.features {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section.outlined-section.table {
  padding-top: 100px;
}

.section.bottom-outline {
  border-bottom: 1px solid #373737;
}

.clients-logo-grid {
  flex: none;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.s-stars {
  height: 1rem;
}

.h1-title {
  font-family: Barlow, sans-serif;
}

.h1-title.s-margin {
  font-size: 80px;
  line-height: 100px;
}

.container {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

._100-width {
  width: 100%;
}

.xs-subtitle {
  color: #222829;
  max-width: 20rem;
  font-size: .75rem;
  font-weight: 600;
  line-height: 1.33333;
}

.nav-link {
  color: #fff;
  text-transform: uppercase;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  transition: all .35s;
}

.nav-link:hover, .nav-link.w--current {
  color: #00c386;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
}

.dropdown {
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
}

.dropdown-icon {
  margin-right: 14px;
}

.dropdown-content {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 20px 24px;
  display: flex;
}

.menu-left {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  align-items: center;
  display: flex;
}

.navigation {
  z-index: 100;
  background-color: rgba(17, 14, 20, .8);
  border-bottom: 1px solid #373737;
  align-items: center;
  width: 100%;
  padding: 28px 40px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navigation-arrow {
  z-index: 999;
  width: 40px;
  position: absolute;
  top: -8px;
  bottom: auto;
  left: auto;
  right: auto;
}

.list-wrap {
  background-color: #fff;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
  overflow: visible;
  box-shadow: 8px 39px 65px -10px rgba(0, 0, 0, .1);
}

.list-wrap.w--open {
  background-color: #fff;
  border-radius: 15px;
  min-width: 300px;
  max-height: 100vh;
  left: -97px;
  box-shadow: 0 50px 25px -50px rgba(32, 53, 90, .15), 8px 18px 60px 4px rgba(0, 0, 0, .13);
}

.chevron {
  margin-right: 5px;
}

.dropdown-toggle {
  padding-left: 12px;
  padding-right: 24px;
  transition: all .2s;
}

.dropdown-toggle:hover {
  color: #793cfb;
}

.dropdown-list {
  min-width: 140px;
}

.dropdown-list.w--open {
  background-color: rgba(0, 0, 0, 0);
  min-width: 260px;
  max-height: 100vh;
  left: -80px;
}
main {
  background-color: #0b0910  ;
}
.nav-container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  
}

.menu-right {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: center;
  width: auto;
  height: 100%;
  display: flex;
  position: static;
}

.secondary-button {
  grid-column-gap: .75rem;
  color: #793cfb;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  padding: .75rem 1.25rem;
  font-weight: 600;
  transition: all .3s;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 0 1px #793cfb;
}

.secondary-button:hover {
  box-shadow: inset 0 0 0 2px #793cfb;
}

.secondary-button.nav {
  margin-left: .5rem;
}

.menu-link {
  font-size: 15px;
  font-weight: 400;
}

.dropdown-link {
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.dropdown-link:hover {
  color: #793cfb;
}

.body {
  color: #fff;
  background-color: #0b0910;
  font-family: Roboto Mono, sans-serif;
}

.m-paragraph {
  color: #bebebe;
  max-width: 29rem;
  font-family: Barlow, sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.m-paragraph.white {
  color: #fff;
}

.m-paragraph.reset-width {
  max-width: none;
}

.m-paragraph.green-text.no-margin, .m-paragraph.no-margin {
  margin-bottom: 0;
}

.l-icon {
  z-index: 5;
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  position: relative;
}

.h2-title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 500;
  line-height: 32px;
}

.h2-title.s-margin {
  text-transform: uppercase;
}

.h2-title.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.h2-title.center-content.mb-80, .h2-title.mb-80 {
  margin-bottom: 80px;
}

.xs-badge-grid {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: start;
  display: grid;
}

.xs-badge-grid.align-start {
  align-items: start;
}

._2-columns-grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

._2-columns-grid._2x-gutter {
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}

.relative {
  z-index: 10;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.align-left-and-vertical {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.align-left-and-vertical.right-border {
  border-right: 1px solid #000;
}

.align-left-and-vertical.padded {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.align-left-and-vertical.padded.right-border {
  border-right-color: #373737;
  padding-right: 72px;
}

.align-left-and-vertical.charts {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.align-left-and-vertical.charts.right-border {
  border-right-color: #373737;
  padding-right: 72px;
}

.s-paragraph {
  max-width: 25rem;
  font-size: .875rem;
  line-height: 1.42857;
}

.horizonal-flex-separators {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.divider {
  border: 1px #000;
  border-right: 2px solid #000;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 100%;
  display: block;
}

.divider-2 {
  border-right: 1px solid #000;
  height: 500px;
  margin-left: 40px;
  margin-right: 40px;
}

.s-icon {
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
}

.pricing-features-row {
  grid-row-gap: 10px;
  border-bottom: 1px solid rgba(29, 29, 31, .1);
  grid-template-rows: auto;
  grid-template-columns: .5fr 2fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.pricing-features-row.sticky {
  grid-row-gap: 10px;
  grid-template-columns: .5fr 2fr;
  margin-bottom: -3px;
  padding-top: 0;
  padding-bottom: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.pricing-features-row.last {
  padding-bottom: 100px;
}

.center-content {
  border-left: 1px #373737;
  border-right: 1px solid #373737;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
}

.center-content.last {
  height: 84px;
}

.center-content.last.last-row, .center-content.last-column {
  border-right-style: none;
}

.section-2 {
  padding: 120px 3rem;
}

.pricing-features-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
  overflow: auto;
}

.m-subtitle {
  color: #041434;
  max-width: 29rem;
  font-weight: 600;
}

.container-2 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.grid-2 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 40px;
  display: grid;
}

.grid-2.no-gap {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
}

.h3-title {
  letter-spacing: -.05625rem;
  max-width: 40rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.l-card {
  background-color: #fff;
  padding: 4rem;
  position: relative;
}

.s-logo {
  height: 1.5rem;
}

.divider-3 {
  background-color: #dde2e5;
  width: 100%;
  height: 1px;
}

.s-card {
  flex-direction: column;
  padding: 2rem;
  position: relative;
}

.container-3 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.grid-3 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 40px;
  display: grid;
}

.grid-3.no-gap {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
}

.m-subtitle-2 {
  max-width: 29rem;
  font-weight: 600;
}

.h3-title-2 {
  max-width: 40rem;
}

.section-3 {
  padding: 5rem 3rem;
}

.half-section {
  width: 50%;
  height: 100%;
}

.holder {
  width: 100%;
}

.outlined-section {
  border-top: 1px solid #373737;
  border-bottom: 1px solid #000;
  background-color: #0b0910; 
}

._2-items-outlined-flex {
  grid-column-gap: 72px;
  grid-row-gap: 72px;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  min-height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
}

.center-feature-list {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  min-height: 100%;
  display: flex;
}

.feature-stack {
  grid-column-gap: 24px;
  grid-row-gap: 80px;
  margin-left: auto;
  margin-right: auto;
}

.feature-grid-item {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: flex-end;
  max-width: 600px;
  display: flex;
}

.xl-icon {
  width: 100px;
  min-width: 100px;
  height: 100px;
}

.cell-left {
  align-items: flex-end;
}

.h3-title-small {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 28px;
}

.h3-title-small.s-margin {
  text-transform: uppercase;
}

.h3-title-small.no-margin {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

.h3-title-small.center-content.mb-80 {
  margin-bottom: 80px;
}

.feature-item-text {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  display: flex;
}

.feature-item-text.full-width {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 100%;
}

.cell-right {
  align-items: flex-start;
}

.table-coin-logo {
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin-right: 8px;
}

.flexed-table-header {
  justify-content: center;
  align-items: center;
  display: flex;
}

.row-title {
  background-color: #110e14;
  border-right: 1px solid #373737;
  align-items: center;
  height: 100%;
  padding-right: 12px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}

.green-text {
  color: #00c386;
  font-family: Barlow, sans-serif;
  font-size: 18px;
}

.red-text {
  color: #ff5656;
  font-family: Barlow, sans-serif;
  font-size: 18px;
}

.last-empty-row {
  grid-row-gap: 10px;
  border-bottom: 1px solid rgba(29, 29, 31, .1);
  grid-template-rows: auto;
  grid-template-columns: .5fr 2fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-top: -2px;
  display: grid;
}

.last-empty-row.sticky {
  grid-row-gap: 10px;
  grid-template-columns: .5fr 2fr;
  margin-bottom: -3px;
  padding-top: 0;
  padding-bottom: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.last-empty-row.last {
  padding-bottom: 100px;
}

.minting-flex {
  grid-column-gap: 65px;
  grid-row-gap: 65px;
  justify-content: flex-start;
  align-items: center;
}

.ml-paragraph {
  color: #bebebe;
  max-width: 29rem;
  font-family: Barlow, sans-serif;
  font-size: 24px;
  line-height: 32px;
}

.ml-paragraph.white {
  color: #fff;
}

.ml-paragraph.reset-width {
  max-width: none;
  margin-bottom: 0;
}

.xxl-icon {
  width: 240px;
  min-width: 240px;
  height: 240px;
}

.earning-flex {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 36px;
  margin-bottom: 40px;
}

.team-flex {
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 45px;
}

.team-vflex {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.headshots {
  margin-bottom: 8px;
}

.aoh_line-bg {
  background-color: #373737;
  padding: 1px;
  position: relative;
  overflow: hidden;
}

.aoh_inner {
  z-index: 5;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  cursor: pointer;
  background-color: #110e14;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  text-decoration: none;
  transition: background-color .3s;
  display: flex;
  position: relative;
}

.aoh_inner:hover {
  background-color: #0a201c;
}

.heading {
  color: #fff;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

.paragraph {
  color: #bebebe;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 200;
}

.aoh_bg-container {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.aoh_orb-wrap {
  justify-content: center;
  align-items: center;
  width: 1px;
  height: 1px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.aoh_orb {
  aspect-ratio: 1;
  filter: blur(3rem);
  background-color: #00c386;
  width: 9rem;
  height: 9rem;
  position: relative;
}

.resources-flex {
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 45px;
}

.aoh_inner_text {
  z-index: 5;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  cursor: pointer;
  flex-flow: column;
  text-decoration: none;
  transition: background-color .3s;
  display: flex;
  position: relative;
}

.action-text-flex {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.footer-cc {
  color: #bebebe;
  margin-bottom: 0;
  font-family: Barlow, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.footer-cc.white {
  color: #fff;
}

.footer-cc.reset-width {
  max-width: none;
}

.footer-cc.green-text.no-margin, .footer-cc.no-margin {
  margin-bottom: 0;
}

.footer {
  padding: 5rem 3rem;
  background-color: #0b0910;
}

.footer.bordered {
  border: 1px solid #000;
}

.footer.outlined-section {
  border-top: 1px #373737;
  border-bottom: 1px solid #373737;
  border-left: 1px #000;
  border-right: 0 #000;
  padding: 0;
}

.footer.outlined-section.features {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer.outlined-section.table {
  padding-top: 100px;
}

.footer.bottom-outline {
  border-bottom: 1px solid #373737;
}

.footer-container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-links {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  justify-content: center;
  display: flex;
}

.footer-link {
  color: #fff;
  text-transform: uppercase;
  border: 1px #000;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: all .35s;
}

.footer-link:hover {
  color: #00c386;
}

.nav-link-mobile {
  color: #fff;
  text-transform: uppercase;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  transition: all .35s;
  display: none;
}

.nav-link-mobile:hover, .nav-link-mobile.w--current {
  color: #00c386;
}

.burger-button-wrapper {
  cursor: pointer;
  padding: 10px;
}

.burger-line-top, .burger-line-middle {
  background-color: #fff;
  width: 30px;
  height: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.burger-line-bottom {
  background-color: #fff;
  width: 30px;
  height: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
}

.button {
  color: #040126;
  text-align: center;
  text-transform: uppercase;
  background-color: #9adbff;
  padding: .75rem 1.5rem;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  overflow: visible;
}

.button.d-05 {
  color: #fff;
  background-color: rgba(154, 219, 255, 0);
  border: 1px solid #00c386;
  border-radius: .5rem;
  transition: color .3s, background-color .3s;
}

.button.d-05:hover {
  color: #00c386;
  background-color: #0d2b26;
}

.button.d-14 {
  background-color: #00c386;
  border: 1px solid rgba(154, 219, 255, 0);
  border-radius: .5rem;
  transition: color .3s, background-color .3s;
}

.button.d-14:hover {
  color: #00c386;
  background-color: #0d2b26;
  border: 1px solid #00c386;
}

.button-arrow {
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  background-color: #9adbff;
  padding: .75rem 1.5rem;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  overflow: visible;
}

.button-arrow.c-17 {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  color: #00c385;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #00c386;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.btn-icon-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.btn-icon-arrow {
  width: 24px;
  min-width: 24px;
  height: 24px;
}

.btn-icon-arrow.hover {
  position: absolute;
  top: 0;
  left: -125%;
}

.flex-btn-holder {
  display: flex;
}

.last-row-title {
  border-left: 1px #373737;
  border-right: 1px solid #373737;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
}

.last-row-title.last {
  height: 84px;
}

.last-row-title.last.last-row, .last-row-title.last-column {
  border-right-style: none;
}

.network-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border: 0;
  padding: .75rem 1.5rem;
  transition: color .3s, background-color .3s;
  font-family: Barlow, sans-serif;
}
.network-button:hover {
  color: #00c386;
}
.mint-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  border: 1px solid rgba(154, 219, 255, 0);
  background-color: #00c386;
  color: #040126;
  transition: color .3s, background-color .3s;
  font-family: Barlow, sans-serif;
  margin-top: 15px;


}
.mint-button:hover {

  color: #00c386;
  background-color: #0d2b26;
  border: 1px solid #00c386;
}
.connect-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  border: 1px solid #00c386;
  color: #fff;
  transition: color .3s, background-color .3s;
  font-family: Barlow, sans-serif;

}
.wrong-network {
  color: #c32100;
  /* border: 1px solid  #c32100; */
}
.connect-button:hover {

    color: #00c386;
    background-color: #0d2b26;
    border: 1px solid #00c386;
}
.menu-btns {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.popup-close {
  z-index: 2;
  color: #000;
  cursor: pointer;
  background-color: #e9e9e9;
  border-radius: 999em;
  justify-content: center;
  align-items: center;
  width: 3.5em;
  height: 3.5em;
  display: flex;
  position: absolute;
  top: 1em;
  bottom: auto;
  left: auto;
  right: 1em;
}

.popup-wrapper {
  z-index: 999;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.popup-video {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.popup-toggle {
  cursor: pointer;
}

.popup-background {
  z-index: 0;
  background-color: rgba(0, 0, 0, .65);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.popup-toggle-text {
  font-size: 2em;
  line-height: 1;
}

.popup-content {
  margin: 2.5em 3em;
}

.popup-content.has-video {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  overflow: hidden;
}

.popup-inner {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.popup-content-wrapper {
  z-index: 1;
  background-color: #fff;
  border-radius: 1.2em;
  width: 90vw;
  max-width: 55em;
  max-height: 90%;
  position: relative;
  overflow: auto;
}

.popup-content-wrapper.video {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 90vh;
  max-height: 675px;
  display: flex;
  overflow: visible;
}

.popup-close-icon {
  width: 1em;
  height: 1em;
}

@media screen and (min-width: 1920px) {
  .container-2, .container-3 {
    max-width: 1400px;
  }

  .feature-grid-item {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .xl-icon {
    vertical-align: top;
    height: 100px;
  }

  .div-block {
    margin-right: 40px;
  }
}

@media screen and (max-width: 991px) {
  .mobile-centered {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .grid._4x-gutter {
    grid-column-gap: 3rem;
  }

  .primary-button {
    align-self: auto;
  }

  .text-container.align-left-justify-center.mobile-centered {
    text-align: center;
    align-items: center;
  }

  .section {
    padding: 4rem 2rem;
  }

  .section.outlined-section.features {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .section.outlined-section.table {
    padding-top: 64px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-link {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: none;
  }

  .brand {
    margin-right: 10px;
    padding: 0;
  }

  .dropdown {
    margin-left: 0;
    margin-right: 0;
    display: block;
  }

  .dropdown-content {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menu-left {
    align-items: center;
    display: flex;
  }

  .navigation {
    padding-left: 2rem;
    padding-right: 2rem;
    position: -webkit-sticky;
    position: sticky;
  }

  .list-wrap {
    box-shadow: none;
  }

  .chevron {
    margin-right: 20px;
  }

  .dropdown-toggle {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .dropdown-toggle.w--open {
    width: 100%;
  }

  .dropdown-list.w--open {
    width: 100%;
    padding-top: 0;
    position: relative;
    left: auto;
  }

  .nav-container {
    z-index: 100;
    min-height: auto;
    position: relative;
  }

  .menu-right {
    z-index: 100;
    background-color: rgba(17, 14, 20, .8);
    border: 1px #000;
    border-bottom: 1px solid #373737;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    position: absolute;
    top: 60px;
  }

  .secondary-button.nav {
    margin-left: 2rem;
    margin-right: 1.25rem;
  }

  .menu-button {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
  }

  .m-paragraph.reset-width-mobile {
    max-width: none;
  }

  .h2-title.center-content.mb-80 {
    margin-bottom: 40px;
  }

  .align-left-and-vertical.padded {
    padding-left: 20px;
    padding-right: 20px;
  }

  .align-left-and-vertical.padded.right-border {
    border-bottom: 1px solid #373737;
    border-right-style: none;
    padding-right: 20px;
  }

  .align-left-and-vertical.charts {
    padding-left: 20px;
    padding-right: 20px;
  }

  .align-left-and-vertical.charts.right-border {
    border: 1px #000;
    border-bottom: 1px solid #373737;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-2 {
    padding: 4rem 2rem;
  }

  .grid-2 {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    margin-bottom: 40px;
  }

  .l-card {
    padding: 3rem;
  }

  .s-card {
    padding: 1.5rem;
  }

  .grid-3 {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    margin-bottom: 40px;
  }

  .section-3 {
    padding: 4rem 2rem;
  }

  ._2-items-outlined-flex {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .feature-grid-item {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-flow: column;
  }

  .cell-left {
    align-items: flex-start;
  }

  .minting-flex, .team-flex {
    flex-flow: column;
  }

  .resources-flex {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-flow: column;
  }

  .footer {
    padding: 4rem 2rem;
  }

  .footer-container {
    z-index: 100;
    min-height: auto;
    position: relative;
  }

  .menu-icon {
    width: 36px;
    min-width: 36px;
  }

  .menu-text {
    color: #00c386;
    text-transform: uppercase;
    font-family: Barlow, sans-serif;
    font-weight: 500;
    line-height: 16px;
  }

  .nav-link-mobile {
    width: 100%;
    margin-bottom: 24px;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
  }

  .menu-btns {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-flow: column;
    align-items: stretch;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
  }

  .percent-icon {
    display: none;
  }

  .popup-content-wrapper {
    max-height: 92%;
  }
}

@media screen and (max-width: 767px) {
  .l-subtitle {
    max-width: 29rem;
    font-size: 1rem;
  }

  .grid._4x-gutter {
    grid-column-gap: 2rem;
  }

  .l-paragraph {
    max-width: 29rem;
    font-size: 1rem;
  }

  .section {
    padding: 3rem 1.25rem;
  }

  .clients-logo-grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .xs-subtitle {
    max-width: 15rem;
    font-size: .625rem;
  }

  .nav-link {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 14px;
  }

  .menu-left {
    width: 100%;
  }

  .navigation, .dropdown-toggle {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .m-paragraph {
    max-width: 25rem;
  }

  .m-paragraph.reset-width, .m-paragraph.reset-width-mobile {
    font-size: 18px;
  }

  .s-paragraph {
    max-width: 20rem;
    font-size: .75rem;
  }

  .center-content {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: column;
    min-width: 80px;
  }

  .section-2 {
    padding: 3rem 1.25rem;
  }

  .m-subtitle {
    max-width: 25rem;
    font-size: .875rem;
  }

  .grid-2 {
    margin-bottom: 32px;
  }

  .l-card {
    padding: 2rem;
  }

  .grid-3 {
    margin-bottom: 32px;
  }

  .m-subtitle-2 {
    max-width: 25rem;
    font-size: .875rem;
  }

  .section-3 {
    padding: 3rem 1.25rem;
  }

  .ml-paragraph {
    max-width: 25rem;
    font-size: .875rem;
  }

  .ml-paragraph.reset-width {
    font-size: 24px;
  }

  .xxl-icon {
    height: 240px;
  }

  .aoh_inner {
    flex-flow: column;
  }

  .footer-cc {
    max-width: 25rem;
    font-size: .875rem;
  }

  .footer {
    padding: 3rem 1.25rem;
  }

  .footer-container {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-flow: column-reverse wrap;
  }

  .footer-links {
    flex-flow: wrap;
  }

  .nav-link-mobile {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-right: 1.25rem;
  }

  .menu-btns {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .popup-video {
    margin-top: -12em;
  }

  .popup-content {
    margin: 3em 2em;
  }

  .popup-content-wrapper.video {
    width: 100%;
    max-height: none;
  }
}

@media screen and (max-width: 479px) {
  .grid._4x-gutter {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .text-container.center.l-margin {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .clients-logo-grid {
    grid-template-columns: 1fr 1fr;
  }

  .pricing-features-row.sticky {
    grid-template-columns: 1fr;
  }

  .section-2 {
    padding: 32px 16px;
  }

  .grid-2 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;
    margin-top: 12px;
    margin-bottom: 24px;
  }

  .l-card {
    padding: 1.5rem;
  }

  .s-card.center-content.no-phone-padding {
    min-height: 3rem;
    padding: 0;
  }

  .grid-3 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;
    margin-top: 12px;
    margin-bottom: 24px;
  }

  .row-title {
    min-width: 100px;
  }

  .last-empty-row.sticky {
    grid-template-columns: 1fr;
  }

  .last-row-title {
    min-width: 100px;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
  }

  .popup-video {
    margin-top: -5.8em;
  }
}

#w-node-e03c3be5-ecef-0c5a-ccc3-06cbe6b58e5d-1c70a5af, #w-node-e03c3be5-ecef-0c5a-ccc3-06cbe6b58e73-1c70a5af {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

#w-node-cf2f8a7f-5f15-172f-8b7e-9f8397202589-1c70a5af {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_2b8e296d-3b8c-e664-fe5f-a3100fd4fcd8-1c70a5af {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2b8e296d-3b8c-e664-fe5f-a3100fd4fcdc-1c70a5af, #w-node-_2b8e296d-3b8c-e664-fe5f-a3100fd4fcdf-1c70a5af, #w-node-_2b8e296d-3b8c-e664-fe5f-a3100fd4fce2-1c70a5af, #w-node-_15a12053-f6f9-d7be-ca85-e4aea839f9a5-1c70a5af, #w-node-_2b8e296d-3b8c-e664-fe5f-a3100fd4fcec-1c70a5af, #w-node-_2b8e296d-3b8c-e664-fe5f-a3100fd4fcee-1c70a5af, #w-node-_2b8e296d-3b8c-e664-fe5f-a3100fd4fcf0-1c70a5af, #w-node-_56583729-b97c-bac4-338b-42ebc2444440-1c70a5af, #w-node-_2b8e296d-3b8c-e664-fe5f-a3100fd4fcf9-1c70a5af, #w-node-_2b8e296d-3b8c-e664-fe5f-a3100fd4fcfb-1c70a5af, #w-node-_49f4891c-dd12-4bc7-0490-8b7b47746b2c-1c70a5af, #w-node-_2b8e296d-3b8c-e664-fe5f-a3100fd4fcfd-1c70a5af, #w-node-_2b8e296d-3b8c-e664-fe5f-a3100fd4fd06-1c70a5af, #w-node-_2b8e296d-3b8c-e664-fe5f-a3100fd4fd08-1c70a5af, #w-node-_2b8e296d-3b8c-e664-fe5f-a3100fd4fd0a-1c70a5af, #w-node-_2514a741-b2c7-a4b8-8319-549237b79cf7-1c70a5af, #w-node-_2b8e296d-3b8c-e664-fe5f-a3100fd4fd13-1c70a5af, #w-node-_2b8e296d-3b8c-e664-fe5f-a3100fd4fd15-1c70a5af, #w-node-_3bcf9717-04e4-3d94-daec-98b31d8749d0-1c70a5af, #w-node-_2b8e296d-3b8c-e664-fe5f-a3100fd4fd17-1c70a5af, #w-node-f771c9ed-c636-df12-391b-ecc3c70a01a4-1c70a5af, #w-node-f771c9ed-c636-df12-391b-ecc3c70a01a7-1c70a5af, #w-node-f771c9ed-c636-df12-391b-ecc3c70a01aa-1c70a5af, #w-node-f771c9ed-c636-df12-391b-ecc3c70a01ad-1c70a5af {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

@media screen and (max-width: 991px) {
  #w-node-e03c3be5-ecef-0c5a-ccc3-06cbe6b58e5d-1c70a5af, #w-node-e03c3be5-ecef-0c5a-ccc3-06cbe6b58e73-1c70a5af {
    grid-column: span 12 / span 12;
  }

  #w-node-cf2f8a7f-5f15-172f-8b7e-9f8397202589-1c70a5af {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }
}


